@use "../../abstracts/index"as *;

.ic-accordion-custom {
    position: relative;
    width: 18px;
    height: 18px;
    @include flex(center, center);
    transition: transform 0.35s linear;

    &::after,
    &::before {
        content: "";
        position: absolute;
        background-color: var(--primary);
        @include transition3;
        border-radius: 2px;
    }

    &::before {
        height: 100%;
        width: 2px;
    }

    &::after {
        height: 2px;
        width: 100%;
    }
}


.accordion-action {
    @include flex(center, space-between);
    padding-top: 32px;
    padding-bottom: 0;
    margin-bottom: 24px;
    @include transition3;

    .icon {
        &::before {
            transform: rotate(90deg);
        }

        &::after {
            transform: rotate(180deg);
        }
    }

    .ic-ar {
        display: block;
        transform: rotate(180deg);
        @include transition3;
    }

    &.collapsed {
        margin-bottom: 0px;
        padding-bottom: 32px;

        .ic-ar {
            transform: rotate(0deg);
        }

        .icon {

            &::before {
                transform: rotate(0deg);
            }

            &::after {
                transform: rotate(0deg);
            }
        }
    }

    @include res(lg) {
        padding-top: 20px;

        &.collapsed {
            padding-bottom: 20px;
        }
    }
}


.product-accordion-item {
    border-bottom: 1px solid var(--line);

    .desc-list {
        display: grid;
        gap: 24px;
        max-width: 548px;
        width: 100%;

        .desc_title {
            color: var(--primary);
            margin-bottom: 8px;
        }
    }

    &:first-child {
        border-top: 1px solid var(--line);
    }
}

.accordion-faq {
    border-bottom: 1px solid var(--line);

    .accordion-action {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 500;
        padding-top: 20px;
        padding-bottom: 19px;
        color: var(--primary);

        &:not(.collapsed) {
            margin-bottom: 0;
            padding-bottom: 8px;
        }
    }

    .accordion-body {
        padding-bottom: 19px;
        display: grid;
        gap: 12px;
    }
}