@use "../../abstracts/index"as *;

.flat-animate-tab {

    .tab-content {
        position: relative;
    }

    .tab-pane {
        display: block;
        pointer-events: none;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        -webkit-transform: translateY(30px);
        -ms-transform: translateY(30px);
        transform: translateY(30px);
        transition-timing-function: ease-in;
        transition-duration: 0.2s;

        &.active {
            pointer-events: auto;
            opacity: 1;
            visibility: visible;
            position: relative;
            z-index: 2;
            -webkit-transform: none;
            -ms-transform: none;
            transform: none;
            transition-timing-function: ease-out;
            transition-duration: 0.3s;
            transition-delay: 0.3s;
        }
    }
}

.tab-btn-wrap-1 {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
    overflow: auto;
    white-space: nowrap;

    .tf-btn-tab {
        padding-bottom: 2px;
        border-bottom: 2px solid transparent;

        &.active {
            border-color: var(--primary);
            color: var(--primary);
        }

        &:hover {
            color: var(--primary);
        }
    }

    &.style-2 {
        .tf-btn-tab {
            padding-bottom: 0px;

            &:hover,
            &.active {
                border-color: var(--secondary);
            }
        }
    }

    @include res(lg, min) {
        justify-content: center;
        gap: 40px;
    }
}

.tab-btn-wrap-2 {
    display: inline-flex;
    align-items: center;
    padding: 7px;
    border-radius: 52px;
    border: 1px solid var(--line);

    .tf-btn-tab {
        padding: 12px 30px;
        border-radius: 44px;
        position: relative;
        z-index: 1;

        &.active {
            color: var(--white);
        }
    }
}

.indicator-main {
    position: relative;
}

.indicator-item {
    position: relative;
    z-index: 1;
}

.indicator {
    position: absolute;
    top: 8px;
    bottom: 8px;
    border-radius: 44px;
    background: var(--primary);
    @include transition3;
    z-index: 0;
    pointer-events: none;
}

.tab-btn-wrap-3 {
    display: flex;
    align-items: center;
    border-radius: 20px;
    overflow: auto;
    white-space: nowrap;
    margin-bottom: 40px;

    .tf-btn-tab {
        padding: 20px;
        background: var(--white);
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 3px;
            background-color: var(--primary);
            transform: scaleX(0);
            @include hidden;
            @include transition3;
        }

        &.active {
            &::after {
                @include visible;
                transform: scaleX(1);
            }
        }
    }

    &.style-2 {
        margin-bottom: 0;
        width: 100%;

        .nav-tab-item {
            flex: 1;
            text-align: center;
        }

        .tf-btn-tab {
            width: 100%;
            background: transparent;
        }
    }

    @include res(lg) {
        .tf-btn-tab {
            padding: 15px;

            &::after {
                height: 2px;
            }
        }
    }
}