@use "../../abstracts/index"as *;

form {
    position: relative;
    z-index: 30;

    select,
    textarea,
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"],
    input[type="search"],
    input[type="tel"],
    input[type="color"] {
        outline: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        width: 100%;
        padding: 11px 15px;
        border: 1px solid var(--line);
        border-radius: 12px;
        color: var(--primary);
        @include transition3;

        &::placeholder {
            color: var(--text-2);
        }

        &:focus {
            border-color: var(--primary);

        }

        &.style-2 {
            border-radius: 92px;
            border-color: var(--secondary);
            background-color: transparent;
            font-size: 14px;
            line-height: 22px;
            color: var(--white);

            &::placeholder {
                font-size: 14px;
                line-height: 22px;
                color: var(--white);
            }
        }
    }

    button,
    input[type="button"],
    input[type="reset"],
    input[type="submit"] {
        background-color: transparent;
        overflow: hidden;
        padding: 0;
    }

    textarea {
        height: 100px;
        resize: none;
    }

    .form-content {
        display: grid;
        gap: 20px;
    }

    .tf-grid-layout {
        gap: 20px;
    }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.password-wrapper {
    position: relative;

    .toggle-pass {
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        font-size: 20px;
    }
}

.tf-check {
    position: relative;
    background: transparent;
    cursor: pointer;
    outline: 0;
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    min-width: 12px;
    border: 1px solid var(--primary);
    padding: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    @include transition3;
    line-height: 1;
    border-radius: 1px;

    &:checked {
        background-color: var(--primary);

        &::before {
            opacity: 1;
            transform: scale(1);
        }
    }

    &::before {
        font-weight: 500;
        font-family: $fontIcon;
        content: "\e932";
        position: absolute;
        color: var(--white);
        opacity: 0;
        font-size: 6px;
        transform: scale(0);
        @include transition3;
    }

    &.style-white {
        background-color: var(--black);
        border: 1px solid #FFFFFF33;
    }

    &.style-2 {
        width: 15px;
        height: 15px;
    }

    &.style-3 {
        width: 24px;
        height: 24px;
        border-width: 2px;

        &:not(:checked) {
            border-color: var(--text-2);
        }

        &::before {
            font-size: 12px;
        }
    }

    &.style-4 {
        width: 20px;
        height: 20px;

        &::before {
            font-size: 10px;
        }
    }
}

.checkbox-wrap {
    display: flex;
    align-items: center;
    gap: 6px;

    input {
        padding: 0;
    }

    label {
        cursor: pointer;
    }
}

.tf-field {
    position: relative;

    .tf-lable {
        margin-bottom: 8px;
    }
}

.form-subcribe {
    position: relative;

    .btn-submit {
        aspect-ratio: 1;
        border-radius: 50%;
        @include flex(center, center);
        background-color: var(--secondary);
        position: absolute;
        top: 4px;
        right: 4px;
        bottom: 4px;

        .icon {
            color: var(--primary);
            font-size: 20px;
        }

        &:hover {
            .icon {
                animation: effect-send 0.3s ease-in;
            }
        }
    }
}

.form-search,
.form-subcribe-2 {
    position: relative;

    input {
        padding-right: 50px !important;
    }

    button {
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);

        .icon {
            font-size: 24px;
            color: var(--primary);
        }
    }
}

.form-comment {
    .tf-grid-layout {
        gap: 20px;
    }

    .form-content {
        gap: 20px;
        margin-bottom: 24px;

        textarea {
            height: 100px;
        }
    }
}

.form-rating {
    .tf-field {
        display: grid;
    }

    .form-content {
        margin-bottom: 24px;
    }
}

.ip-discount-code {
    position: relative;

    input {
        padding: 15px 19px !important;
        padding-right: 150px !important;
    }

    .action {
        position: absolute;
        bottom: 8px;
        right: 8px;
        top: 8px;
    }

    .note {
        margin-top: 12px;
    }
}

.tf-check-rounded {
    padding: 0 !important;
    position: relative;
    border: 1px solid #9a9a9a;
    border-radius: 50%;
    background: none;
    cursor: pointer;
    outline: 0;
    height: 14px;
    width: 14px;
    @include flex(center, center);
    background-color: var(--white);
    -webkit-appearance: none;

    &::before {
        content: "";
        position: absolute;
        border-radius: 50%;
        width: 8px;
        height: 8px;
        background-color: var(--primary);
        opacity: 0;
    }

    &:checked {
        border-color: var(--primary);

        &::before {
            opacity: 1;
        }
    }
}

.form-quick-login {
    .tf-grid-layout {
        margin-bottom: 16px;
    }

    @include res(xl, min) {
        .action {
            height: 48px;
            padding-left: 30px;
            padding-right: 30px;
        }
    }
}

.tf-page-checkout {
    display: grid;
    gap: 40px;
}



.tf-select {
    position: relative;

    select {
        width: 100%;
        padding: 11px 15px;
        border: 1px solid var(--line);
        border-radius: 12px;
        color: var(--primary);
        @include transition3;
        -webkit-appearance: none;
        appearance: none;
        outline: 0 !important;
        @include transition3;
        font-weight: 600;

        &:focus {
            border-color: var(--primary);
        }
    }

    &::after {
        font-family: $fontIcon;
        position: absolute;
        content: "\e907";
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 20px;
        z-index: 1;
        font-weight: 400;
        color: var(--primary);
    }

    &:hover {
        select {
            border-color: var(--primary);
        }
    }
}

.form-log {
    .check-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 16px;
    }


    .log-orther {
        display: flex;
        align-items: center;
        gap: 20px;

        span {
            display: block;
            height: 1px;
            background-color: var(--line);
            flex: 1;
        }
    }

    .group-btn {
        display: grid;
        gap: 12px;
    }

    @include res(xl, min) {
        .dont-have {
            margin-top: -8px;
        }
    }
}

.form_search-product {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 12px;
    background-color: var(--white);
    height: 50px;

    .entry-ip {
        border: 0;
        padding: 0 16px;
        width: 374px;
    }

    .tf-select-category {
        white-space: nowrap
    }

    .btn-submit {
        width: 98px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        background-color: var(--secondary);
        border-radius: 0px 12px 12px 0px;
    }

    .br-line {
        width: 0;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            width: 1px;
            background: var(--line);
        }
    }

    @include res(xxl) {
        .entry-ip {
            width: 350px;
        }
    }
}

.form-contact {
    .form-content {
        margin-bottom: 32px;
    }

    textarea {
        height: 100px;
    }
}


.select-wrap {
    position: relative;
    display: inline-flex;

    .icon {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        color: var(--primary);
        font-size: 20px;
    }
}

.form-get {
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 10px 25px 0px #2B344A1F;

    .form-title {
        padding: 20px;
        background-color: var(--primary);
    }

    .tf-field {
        display: grid;
    }

    .form-content {
        padding: 24px 28px;
    }

    .btn-wrap {
        padding: 0px 28px 24px;
    }

    textarea {
        height: 120px;
    }

    @include res(md) {
        .form-content {
            padding: 20px 15px;
        }

        .btn-wrap {
            padding: 0px 15px 20px;
        }
    }
}

.form-search-nav {
    position: relative;
    width: 100%;

    .btn-action {
        position: absolute;
        font-size: 24px;
        left: 12px;
        top: 50%;
        transform: translateY(-50%);
        color: var(--primary);
    }

    fieldset {
        input {
            padding-left: 44px;
            padding-top: 11px;
            padding-bottom: 11px;
            border-radius: 12px;
        }
    }
}