@use "../../abstracts/index"as *;


.sw-dot-default {
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    .swiper-pagination-bullet {
        width: 32px;
        height: 32px;
        background-color: transparent;
        position: relative;
        border: 2px solid transparent;
        @include transition3;
        opacity: 1;
        margin: 0 !important;

        &::before {
            position: absolute;
            content: "";
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background-color: transparent;
            border: 2px solid var(--primary);
            @include transition3;
        }

        &.swiper-pagination-bullet-active {
            border-color: var(--primary);

            &::before {
                background-color: var(--primary);
            }
        }

        @include res(xl) {
            width: 16px;
            height: 16px;

            &::before {
                width: 6px;
                height: 6px;
            }
        }
    }

    &.style-white {
        .swiper-pagination-bullet {

            &::before {
                background-color: var(--white);
                border-color: var(--white);
            }

            &.swiper-pagination-bullet-active {
                border-color: var(--white);

                &::before {
                    background-color: var(--white);
                }
            }
        }
    }

    &.style-small {
        .swiper-pagination-bullet {
            width: 16px;
            height: 16px;

            &::before {
                width: 6px;
                height: 6px;
                background: var(--primary);
            }

            &::before {
                border-width: 1px;
            }
        }
    }

    @include res(xl, min) {
        margin-top: 35px;

        &.type-space-2 {
            margin-top: 40px;
        }
    }

    @include res(xxl, min) {
        margin-top: 56px;
    }
}

.tf-sw-nav {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 32px;
    background-color: var(--secondary);
    color: var(--primary);
    @include flex(center, center);
    @include transition3;

    &:hover {
        background-color: var(--primary);
        color: var(--secondary);
    }

    &.style-2 {
        background-color: var(--white-10);
        color: var(--white);

        &:hover {
            color: var(--secondary);
        }
    }

    &.style-3 {
        background-color: transparent;
        color: var(--primary);
        border: 1px solid var(--primary);
        width: 40px;
        height: 40px;
        font-size: 24px;

        &:hover {
            background-color: var(--secondary);
            border-color: var(--secondary);
        }
    }

    &.small {
        width: 40px;
        height: 40px;
        font-size: 24px;
    }

    @include res(xl) {
        &.style-3 {
            width: 32px;
            height: 32px;
        }
    }
}

.slider_effect_fade {
    .swiper-slide {

        &.swiper-slide-active {

            .fade-item {
                transform: translateY(0);
                opacity: 1;
                visibility: visible;
            }

            .scale-item {
                transform: scale(1);
            }

            .width-item {
                width: 100%;
            }
        }
    }

    .fade-item {
        transform: translateY(100px);
        opacity: 0;
        visibility: hidden;
        @include transition3;

        &.fade-box {
            transition-delay: 0.4s;
            transform: translateY(0px);
        }

        &.fade-item-1 {
            transition-delay: 0.5s;
        }

        &.fade-item-2 {
            transition-delay: 0.6s;
        }

        &.fade-item-3 {
            transition-delay: 0.7s;
        }

        &.fade-item-4 {
            transition-delay: 0.8s;
        }
    }

    .scale-item {
        transform: scale(1.2);
        transition: all 0.5s linear;

        &.scale-item-1 {
            transition-delay: 0.3s;
        }
    }

    .width-item {
        width: 1%;
        @include transition3;

        &.width-item-3 {
            transition-delay: 0.7s;
        }
    }
}



.slider_effect_scale-md {
    @include res(md) {
        .swiper-slide {
            overflow: hidden;

            &.swiper-slide-active {
                .scale-item {
                    transform: scale(1);
                }
            }
        }

        .scale-item {
            transform: scale(1.2);
            transition: all 1s linear;
        }
    }
}

.slider_effect_fade-md {
    @include res(md) {
        .swiper-slide {
            &.swiper-slide-active {
                .fade-item {
                    transform: translateY(0);
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        .fade-item {
            transform: translateY(100px);
            opacity: 0;
            visibility: hidden;
            @include transition3;

            &.fade-box {
                transition-delay: 0.4s;
                transform: translateY(0px);
            }

            &.fade-item-1 {
                transition-delay: 0.5s;
            }

            &.fade-item-2 {
                transition-delay: 0.6s;
            }

            &.fade-item-3 {
                transition-delay: 0.7s;
            }

            &.fade-item-4 {
                transition-delay: 0.8s;
            }
        }
    }
}

.hover-sw-nav {
    .tf-sw-nav {
        visibility: hidden;

        &.nav-next-swiper {
            margin-right: 20px;
        }

        &.nav-prev-swiper {
            margin-left: 20px;
        }
    }

    &:hover {
        .tf-sw-nav {
            margin: 0;
            visibility: visible;
        }
    }
}

.tf-slideshow {
    position: relative;

    .group-btn {
        position: absolute;
        left: 40px;
        right: 40px;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        justify-content: space-between;
        z-index: 2;
        pointer-events: none;

        .tf-sw-nav {
            pointer-events: all;
        }
    }

    &.type-2 {
        .sld_image {
            img {
                aspect-ratio: calc(1920/656);
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    @include res(xxxl) {
        .group-btn {
            left: 15px;
            right: 15px;
        }
    }

    @include res(xxl) {
        .group-btn {
            display: none;
        }

        .slider-wrap {
            height: 650px;
        }
    }

    @include res(md) {

        .slider-wrap {
            height: 600px;
        }
    }

    @include res(sm) {
        .slider-wrap {
            height: 450px;
        }
    }
}

.slider-wrap {
    position: relative;
}

.sld_content {
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    z-index: 2;

    .title_sld {
        margin-bottom: 20px;
    }

    .sub-text_sld {
        margin-bottom: 32px;
    }

    &.pst-2 {
        top: calc(50% + 20px);
    }

    @include res(xl, min) {
        .action_sld {
            height: 58px;
            padding-left: 40px;
            padding-right: 40px;
        }

        &.pst-2 {
            top: calc(50% + 47px);
        }
    }

    @include res(sm) {
        .sub-text_sld {
            display: none;
        }
    }
}

.sw-slide-show {
    position: relative;

    .sw-dot-default {
        position: absolute;
        bottom: 20px;
        left: 15px;
        right: 15px;
        z-index: 2;
        width: auto;
    }
}

.sld_image {
    height: 100%;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.box-swiper {
    &.sw-testimonial {
        position: relative;

        .group-btn {
            position: absolute;
            justify-content: space-between;
            top: 40%;
            left: -60px;
            right: -60px;
            z-index: 2;
            pointer-events: none;

            >* {
                pointer-events: all;
            }
        }
    }
}

.swiper-pagination-lock {
    margin: 0 !important;
}