@use "../../abstracts/index"as *;


.group-btn {
    display: flex;
    align-items: center;
}

.group-btn-slider {
    display: flex;
    align-items: center;
    gap: 8px;
}

.wg-comment {
    .title {
        margin-bottom: 20px;
    }

    .box-comment {
        >.btn-reply {
            margin-bottom: 24px;
        }

        &:last-child {
            >.btn-reply {
                margin-bottom: 0px;
            }
        }
    }

    .comment-list {
        display: grid;
        gap: 24px;
    }

    .comment_info {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-bottom: 12px;
    }

    .info_image {
        border-radius: 50%;
        overflow: hidden;
    }

    .comment_text {
        margin-bottom: 12px;
    }

    .comment_reply {
        margin-left: 30px;
        padding-left: 16px;
        border-left: 2px solid var(--line);
    }

    @include res(xl, min) {
        .comment_reply {
            margin-left: 60px;
            border-left: 4px solid var(--line);
        }
    }
}


.wg-leave-comment {
    padding: 20px 15px;
    border: 2px solid var(--line);
    border-radius: 8px;

    .title {
        margin-bottom: 24px;
    }

    @include res(xl, min) {
        padding: 26px;
    }
}

.banner-v1 {
    position: relative;
    margin-bottom: 30px;

    .banner_image {
        border-radius: 20px;
        overflow: hidden;

        img {
            min-height: 200px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            aspect-ratio: calc(960/260);
        }
    }

    .banner_content {
        position: absolute;
        inset: 15px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        z-index: 2;

        .tag {
            margin-bottom: 8px;
        }
    }
}

.wg-category {
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    display: grid;

    .category-content {
        position: absolute;
        left: 10px;
        right: 10px;
        bottom: 15px;
        text-align: center;
        display: grid;
        gap: 8px;
    }

    @include res(xl, min) {
        .category-content {
            left: 20px;
            right: 20px;
            bottom: 20px;
        }
    }
}

.wg-category-v02 {
    position: relative;
    overflow: hidden;

    .cate-image {
        @include transition5;
        transform: scale(1.1);
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .cate-content {
        position: absolute;
        bottom: 20px;
        right: 20px;
        left: 20px;
        padding: 20px;
        background-color: var(--white);
        backdrop-filter: blur(10px);
        border-radius: 16px;
        @include transition3;

    }

    .cate_desc,
    .action {
        @include transition3;
        @include hidden;
    }

    .cate_desc {
        margin-top: -52px;
    }

    .action {
        margin-top: -28px;
    }

    &:hover {
        .cate-content {
            background-color: var(--secondary);
        }

        .cate-image {
            transform: scale(1);
        }

        .cate_desc,
        .action {
            @include visible;
            margin-top: 8px;
        }
    }

    @include res(xl) {
        .cate-content {
            left: 10px;
            right: 10px;
            bottom: 10px;
        }
    }
}

.wg-category-v03 {
    .cate-image {
        border-radius: 16px;
        overflow: hidden;
        margin-bottom: 32px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .cate-content {
        text-align: center;
    }

    .cate_name {
        margin-bottom: 12px;
    }

    &.style-2 {
        .cate-image {
            margin-bottom: 20px;
        }

        .cate_name {
            margin-bottom: 8px;
        }

        .cate-image {
            position: relative;
            @include flex(center, center);

            .action {
                position: absolute;
                @include hidden;
            }
        }

        &:hover {
            .cate-image {
                .action {
                    @include visible;
                }
            }
        }
    }

    @include res(xxl, min) {
        &.style-2 {
            .cate_desc {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }

    @include res(md) {
        .cate-image {
            margin-bottom: 24px;
        }
    }
}

.wg-quantity {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    min-width: 160px;
    padding: 11px;
    border: 1px solid var(--line);
    border-radius: 12px;

    .icon {
        font-size: 24px;
        color: var(--primary);

    }

    .quantity-product {
        width: 40px;
        padding: 0;
        background-color: transparent;
        border: 0;
        text-align: center;
        vertical-align: middle;
        color: var(--primary);
        pointer-events: none;
        font-weight: 600;
    }

    &.style-2 {
        border-radius: 100px;
    }
}

.offer-countdown {
    max-width: 380px;
    width: 100%;

    .countdown__timer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .countdown__item {
        display: grid;
        text-align: center;
        min-width: 60px;
    }

    .countdown__value {
        font-weight: 500;
        font-size: 24px;
        line-height: 30px;
        color: var(--primary);
        font-family: $font-sora;
        margin-bottom: -4px;
    }

    .countdown__label {
        font-size: 14px;
        line-height: 22px;
    }
}

.category-v01 {
    background-color: var(--white);
    border-radius: 20px;
    padding: 20px 10px;
    text-align: center;
    border: 2px solid transparent;
    display: flex;
    flex-direction: column;

    .cate-image {
        margin-bottom: 4px;
        max-width: 280px;
        margin-left: auto;
        margin-right: auto;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .info_name {
        margin-bottom: 8px;
    }

    &:hover {
        border-color: var(--secondary);
    }

    &.style-2 {
        border: 0;
        display: grid;
        place-items: center;

        .cate-image {
            max-width: 140px;
            margin-bottom: 8px;
        }
    }

    @include res(xl, min) {
        padding: 20px;
    }
}

.banner-shop-detail {
    display: flex;
    align-items: start;
    gap: 20px;
    flex-wrap: wrap;

    .image-list {
        width: 100%;
        gap: 10px;
        padding: 8px;
        border: 2px solid var(--line);
        border-radius: 20px;

        .image {
            border-radius: 20px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .content {
        >.br-line {
            margin-top: 16px;
            margin-bottom: 16px;
        }
    }

    .product-info-meta {
        display: flex;
        align-items: center;
        gap: 16px;
        flex-wrap: wrap;
        margin-bottom: 8px;

        .infor_rate {
            display: flex;
            align-items: center;
            gap: 4px;
        }
    }

    .product-infor-name,
    .variant-unit {
        margin-bottom: 16px;
    }

    .product-infor-price {
        margin-bottom: 8px;
    }

    .variant-picker-item,
    .variant-quantity {
        display: grid;
        gap: 12px;
    }

    .unit-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        height: 48px;
        border: 1px solid var(--line);
        padding-left: 20px;
        padding-right: 20px;
        color: var(--text-2);
        @include transition3;
        border-radius: 8px;
        cursor: pointer;

        &:hover {
            color: var(--primary);
        }

        &.active {
            background-color: var(--primary);
            color: var(--white);
        }
    }



    .variant-picker-values {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    .variant-quantity {
        margin-bottom: 20px;

        .quantity-btn {
            display: flex;
            flex-wrap: wrap;
            gap: 12px;
        }

        .wg-quantity {
            padding: 10px;
        }
    }

    @include res(xl, min) {
        gap: 40px;
        flex-wrap: nowrap;

        .content {
            max-width: 380px;
        }

        .variant-quantity {
            .tf-btn {
                height: 48px;
            }
        }
    }

    @include res(xl) {
        gap: 24px;
    }
}

.banner-v01 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;


    .b-title {
        margin-bottom: 16px;
    }

    .b-desc {
        margin-bottom: 32px;
    }

    .banner-image {
        max-width: 794px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            min-height: 300px;
            aspect-ratio: calc(794/480);
        }
    }

    @include res(md, min) {
        .banner-content {
            max-width: 436px;
            width: 100%;
        }

        .b-desc {
            margin-bottom: 40px;
        }
    }

    @include res(md) {
        flex-wrap: wrap-reverse;

        .banner-image {
            img {
                min-height: 250px;
            }
        }

        .b-desc {
            margin-bottom: 20px;
        }
    }
}

.banner-v02 {
    position: relative;
    display: flex;
    border-radius: 20px;
    overflow: hidden;

    .b-title {
        margin-bottom: 32px;
    }

    .b-tag {
        margin-bottom: 8px;
    }

    .banner-image {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            min-height: 300px;
        }
    }

    .banner-content {
        position: absolute;
        inset: 20px 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }

    &.style-2 {
        .b-title {
            margin-bottom: 8px;
        }

        .b-desc {
            margin-bottom: 20px;
        }

        .banner-content {
            bottom: unset;
            right: unset;
            top: 47px;
            left: 28px;
        }
    }

    &.style-3 {
        .banner-content {
            align-items: center;
            text-align: center;
        }

        .b-title {
            margin-bottom: 28px;
        }
    }

    @include res(lg) {
        .b-title {
            margin-bottom: 24px;
        }

        .banner-content {
            inset: 20px 15px;
        }
    }

    @include res(md) {


        &.style-2 {
            .banner-image {
                width: 100%;

                img {
                    max-height: 300px;
                }
            }
        }
    }

    @include res(md, between, lg) {
        height: 100%;
    }
}

.banner-v03 {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1000px;
    background-color: var(--primary);
    position: relative;

    .wrap-1 {
        display: flex;
        gap: 20px;


        .icon {
            font-size: 60px;
            color: var(--secondary);
        }
    }

    .wrap-2 {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .wrap-3 {
        display: grid;

        .coupon-copy-wrap {
            display: flex;
            align-items: center;
            gap: 4px;
        }
    }

    .col-left,
    .col-right {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    @include res(sm, min) {
        .wrap-1 {
            margin-right: 51px;
        }

        .wrap-3 {
            margin-right: 50px;
        }
    }

    @include res(xl, min) {
        margin-top: 31px;
        margin-bottom: 31px;

        .img-item {
            left: 37%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    @include res(xxl, min) {

        .img-item {
            left: 35%;
        }

    }

    @include res(xl) {
        border-radius: 20px;
        flex-direction: column;
        padding: 30px 20px;
        gap: 20px;

        >* {
            width: 100%;
            justify-content: space-between;
        }

        .img-item {
            display: flex;
            justify-content: center;
            max-width: 400px;
            width: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    @include res(sm) {

        .col-left,
        .col-right {
            justify-content: center;
            text-align: center;
        }

        .coupon-copy-wrap {
            justify-content: center;
        }

        .wrap-1 {
            gap: 12px;
        }
    }
}

.box-ic-v01 {
    display: flex;
    align-items: center;
    gap: 12px;
    flex: 1;

    .icon {
        font-size: 32px;
        display: flex;
        line-height: 1;
    }

    .sub {
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        overflow: hidden;
    }

    @include res(lg, min) {
        .icon {
            font-size: 40px;
        }
    }

    @include res(xxl, min) {
        max-width: 290px;
    }

    @include res(sm) {
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
}

.wrap-ic-list {
    gap: 15px;

    @include res(xxl, min) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.banner-countdown {
    display: grid;

    .banner-image {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .banner-content {
        background-color: var(--surface);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 15px;
    }

    .sub {
        margin-bottom: 15px;
    }

    .title,
    .box-countdown {
        margin-bottom: 24px;
    }

    @include res(xl, min) {
        display: flex;

        .banner-image {
            width: 31.25%;
        }

        .banner-content {
            width: calc(100% - 31.25% - 31.25%);
        }
    }

    @include res(xl) {
        .banner-image {
            img {
                max-height: 400px;
            }
        }
    }
}

.box-countdown {
    .countdown__timer {
        display: flex;
        gap: 12px;
    }

    .countdown__item {
        display: grid;
        place-items: center;
    }

    .countdown__value {
        font-size: clamp(36px, 5vw, 56px);
        line-height: clamp(40px, 6vw, 72px);
        font-weight: 500;
        color: var(--primary);
        margin-bottom: -4px;
    }

    .countdown__custom {
        font-size: clamp(28px, 3vw, 40px);
        line-height: clamp(32px, 3.5vw, 63px);
        font-weight: 500;
        color: var(--primary);
    }

    .countdown__label {
        line-height: 28px;
    }

    @include res(xxl, min) {
        .countdown__timer {
            gap: 24px;
        }
    }
}

.certified-item {
    .certified_logo {
        margin-bottom: 24px;
    }

    .certified_title {
        margin-bottom: 8px;
    }
}

.gallery-item {
    position: relative;
    overflow: hidden;
    display: flex;

    .box-icon {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: var(--white);
        position: absolute;
        z-index: 2;
        @include center;
        @include flex(center, center);
        color: var(--black);
        font-size: 16px;

        &:hover {
            background-color: var(--black);
            color: var(--white);
        }
    }

    &.style-2 {
        border-radius: 16px
    }

    @include res(lg, min) {
        .box-icon {
            @include hidden;
        }

        &:hover {
            .box-icon {
                @include visible;
            }
        }
    }

    @include res(xl, min) {
        .box-icon {
            width: 56px;
            height: 56px;
            font-size: 24px;
        }

        &.style-2 {
            .box-icon {
                width: 60px;
                height: 60px;

                .icon {
                    font-size: 32px;
                }

                &:not(:hover) {
                    color: var(--primary);
                }
            }
        }
    }
}

.swiper-gallery {
    margin-bottom: 10px;
}

.banner-benefit {
    .group-image {
        gap: 8px;

        .image {
            border-radius: 16px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }



    .title {
        margin-bottom: 16px;
    }

    .desc {
        margin-bottom: 28px;
    }

    .group-image {
        margin-bottom: 40px;
    }

    @include res(xl, min) {
        .desc {
            margin-bottom: 40px;
        }

        .content {
            max-width: 460px;
            margin-left: auto;
        }
    }
}

.wg-benefit {
    display: flex;
    flex-direction: column;
    gap: 32px;

    .ic-wrap {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 1px solid var(--line);
        @include flex(center, center);
        @include transition3;

        .icon {
            font-size: 60px;
            color: var(--primary);
            @include transition5;
        }
    }

    .benefit_name {
        margin-bottom: 8px;
    }

    .br-line {
        height: 2px;
        @include transition3;
    }

    &:hover {
        .ic-wrap {
            background-color: var(--secondary);
            border-color: var(--secondary);

            .icon {
                transform: rotateY(180deg);
            }
        }

        .br-line {
            background-color: var(--secondary);
        }
    }

}

.about-video {
    position: relative;

    .video-thumb {
        border-radius: 20px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            min-height: 300px;
        }
    }

    .btn-view-video {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: var(--white);
        @include flex(center, center);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--primary);
        font-size: 36px;

        &:hover {
            background-color: var(--secondary);
        }
    }

    @include res(md) {
        .btn-view-video {
            width: 50px;
            height: 50px;
            font-size: 24px;
        }
    }
}

.section-404 {
    height: 100vh;
}

.banner-404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;

    .banner-content {
        position: relative;
        margin-top: -64px;
    }

    .title {
        margin-bottom: 16px;
    }

    .desc {
        margin-bottom: 40px;
    }
}

.wg-exper {
    padding: 39px;
    border: 1px solid var(--line);
    border-radius: 20px;
    @include transition3;

    .ic-wrap {
        font-size: 80px;
        margin-bottom: 24px;
        @include transition10;
        width: max-content;
    }

    .name {
        margin-bottom: 12px;
    }

    &::before {
        content: "";
        position: absolute;
        inset: 0px;
        pointer-events: none;
        border-radius: 20px;
        border: 2px solid var(--primary);
        @include transition3;
        @include hidden;
    }

    &:hover {
        border-color: var(--primary);

        &::before {
            @include visible;
        }

        .ic-wrap {
            transform: rotateY(360deg);
        }
    }
}

.history-timeline {
    position: relative;

    >.br-line {
        position: absolute;
        top: 40%;
        left: 0;
        right: 0;
        background: var(--primary);
        opacity: 0.1;
        height: 4px;
    }
}

.wg-history {
    .his-year {
        margin-bottom: 8px;
    }

    .br-dot {
        margin-top: 16px;
        margin-bottom: 16px;
    }
}

.card-member-v01 {
    display: grid;
    gap: 20px;

    .member-image {
        position: relative;
        border-radius: 16px;
        overflow: hidden;
    }

    .member-info {
        display: grid;
        gap: 4px;
    }

    .social-wrap {
        position: absolute;
        top: 20px;
        right: 20px;
        padding: 12px;
        border-radius: 12px;
        background-color: var(--white);
        @include transition3;
        @include hidden;
        transform: translateX(10px);
    }

    .tf-social-icon-2 {
        gap: 16px;

        a {
            width: 36px;
            height: 36px;
        }
    }

    &:hover {
        .social-wrap {
            transform: translateX(0);
            @include visible;
        }
    }
}

.card-service-v01 {
    display: grid;
    place-items: start;
    gap: 20px;
    padding: 23px;
    padding-bottom: 27px;
    border: 1px solid var(--line);
    border-radius: 16px;
    position: relative;

    .card-image {
        border-radius: 16px;
        overflow: hidden;
    }

    .name {
        margin-bottom: 8px;
    }

    &::before {
        content: "";
        inset: -1px;
        position: absolute;
        border: 2px solid var(--primary);
        @include hidden;
        @include transition3;
        border-radius: 16px;

    }

    &:hover {
        &::before {
            @include visible;
        }
    }

    @include res(md) {
        padding: 20px 15px;
    }
}

.benefit-list {
    display: grid;
    gap: 12px;

    .benefit-item {
        display: flex;
        align-items: center;
        gap: 8px;
        color: var(--primary);

        .icon {
            font-size: 20px;
        }
    }
}

.wg-plan {
    display: grid;
    gap: 24px;
    padding: 27px;
    border: 1px solid var(--line);
    border-radius: 20px;

    .plan-price {
        display: flex;
        align-items: end;
    }

    .plan-title {
        margin-bottom: 4px;
    }



    .plan-image {
        position: absolute;
        inset: 0;
        opacity: 0.1;
        z-index: 0;
        pointer-events: none;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .plan-badge {
        position: absolute;
        top: 34px;
        right: -1px;
        border-top-left-radius: 1000px;
        border-bottom-left-radius: 1000px;
        background-color: var(--secondary);
        color: var(--primary);
        display: flex;
        align-items: center;
        gap: 4px;
        padding: 4px 8px;
    }

    &.style-2 {
        background-color: var(--primary);
        border-color: var(--primary);
        position: relative;

        .benefit-item {
            color: var(--white);
        }

        .br-line {
            background-color: var(--white-10);
        }
    }

    @include res(md, min) {
        .plan-price {
            .per-for {
                padding-bottom: 10px;
            }
        }
    }

    @include res(xl) {
        padding: 20px 15px;

        .plan-badge {
            top: 10px;
        }
    }
}

.wg-service {
    display: flex;
    gap: 30px;
    border-radius: 20px;
    overflow: hidden;
    flex-wrap: wrap;
    flex-direction: column;

    >* {
        flex: 1;
    }

    .image {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            aspect-ratio: calc(615/484);
        }
    }

    .content {
        display: grid;
        place-items: start;
        gap: 28px;
    }

    .title {
        margin-bottom: 12px;
    }

    &.style-2 {
        .title {
            margin-bottom: 0;
        }

        .image {
            border-radius: 16px;
            overflow: hidden;

            img {
                aspect-ratio: 1;
            }
        }
    }

    @include res(lg, min) {
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: row;
    }

    @include res(xl, min) {
        gap: 60px;

        &.style-2 {
            gap: 100px;

            .content {
                max-width: 575px;
            }
        }
    }

    @include res(lg) {
        .image {
            order: -1;

            img {
                max-height: 350px;
            }
        }

        .content {
            gap: 20px;
        }
    }
}

.sidebar-service {
    border: 1px solid var(--line);
    padding: 23px;
    border-radius: 16px;

    .title {
        margin-bottom: 16px;
    }

    .list {
        li {
            &:not(:last-child) {
                a {
                    padding-bottom: 6px;
                }
            }

            &:not(:first-child) {
                a {
                    padding-top: 6px;
                }
            }
        }
    }
}

#goTop {
    position: fixed;
    padding: 0;
    bottom: 90px;
    right: 20px;
    width: 38px;
    height: 38px;
    background: var(--white);
    color: var(--primary);
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    box-shadow: 0px 4px 20px 0px #0000001a;
    z-index: 1000;
    @include flex(center, center);
    @include transition3;

    .border-progress {
        position: absolute;
        top: -1px;
        left: -1px;
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        border-radius: 50%;
        border: 1px solid #0B5755;
        mask-image: conic-gradient(#0B5755 var(--progress-angle, 0deg), transparent 0);
        -webkit-mask-image: conic-gradient(#0B5755 var(--progress-angle, 0deg), transparent 0);
        content: "";
        z-index: 1;
        @include transition3;
    }

    &.show {
        opacity: 1;
        visibility: visible;
    }

    .icon {
        font-size: 20px;
        @include transition3;
        animation: iconBounce 2s linear 0s infinite;
    }

    .icon-arrow-right-2 {
        transform: rotate(-90deg);
    }


    &:hover {
        box-shadow: 0 8px 16px rgba(#000, 0.5);
    }

    @include res(lg, min) {
        right: 40px;
    }

    @include res(xl) {
        &.pos1 {
            bottom: 200px;
        }
    }

    @include res(md) {
        &.pos1 {
            bottom: 230px;
        }
    }
}