@use "../../abstracts/index"as *;

.tf-footer {
    background-color: var(--primary);

    .footer-inner-wrap {
        padding-top: 80px;
        padding-bottom: 60px;
    }

    @include res(lg) {
        .footer-inner-wrap {
            padding-top: 60px;
        }
    }

    @include res(sm) {
        .footer-inner-wrap {
            padding-bottom: 30px;
        }
    }
}

.footer-inner {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    gap: 30px;

    .form-subcribe {
        max-width: 410px;
    }


    .inner-center {
        display: flex;
        gap: 40px;
    }

    .logo-site {
        margin-bottom: 40px;
    }

    .title {
        margin-bottom: 8px;
    }

    .sub-title {
        margin-bottom: 16px;
    }

    @include res(llg, min) {
        justify-content: space-between;

        .inner-left {
            max-width: 410px;
        }

        .inner-center {
            max-width: 335px;
        }

        .inner-right {
            max-width: 272px;
        }

    }

    @include res(xxl, min) {

        .inner-center,
        .inner-right,
        .inner-left {
            width: 100%;
        }

        .inner-center {
            gap: 80px;
        }
    }

    @include res(sm, between, llg) {
        display: grid;
        gap: 30px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "aa cc"
            "bb bb"
        ;

        .inner-left {
            grid-area: aa;
        }

        .inner-center {
            grid-area: bb;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 30px;
        }

        .inner-right {
            grid-area: cc;
        }

        .inner-left {
            width: 100%;
        }
    }

    @include res(sm) {
        display: grid;
        gap: 0;

        .inner-center {
            display: grid;
            gap: 0;
        }

        .inner-left {
            margin-bottom: 30px;
        }
    }
}

.footer-menu-list {
    display: grid;
    gap: 12px;

    a {
        color: var(--white);
    }
}

.footer-heading {
    color: var(--secondary);
    margin-bottom: 16px;
}

.footer-info {
    display: grid;

    a {
        color: var(--white);
    }

    .infor-address,
    .infor-email {
        font-weight: 400;
        font-size: 17px;
        line-height: 28px;
    }

    .infor-address {
        margin-bottom: 8px;
    }



    .infor-phone {
        font-weight: 600;
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 12px;
    }

    .infor-email {
        margin-bottom: 40px;
    }

    .social-list {
        font-size: 24px;
        display: flex;
        flex-wrap: wrap;
        gap: 24px;

        li,
        a {
            display: flex;
        }

        .icon {
            aspect-ratio: 1;
        }
    }
}

.footer-bottom {
    .text-copy {
        padding-top: 16px;
        padding-bottom: 16px;
        text-align: center;
    }
}



@include res(sm) {
    .footer-heading-mobile {
        display: block;
        position: relative;
        padding-right: 20px;
        line-height: 24px;

        &::after {
            position: absolute;
            content: "";
            right: 0px;
            top: 50%;
            transform: translateY(-50%);
            width: 14px;
            height: 2px;
            background-color: var(--secondary);
            transition: 0.25s ease-in-out;
        }

        &::before {
            position: absolute;
            content: "";
            right: 5px;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 2px;
            height: 14px;
            background-color: var(--secondary);
            transition: 0.25s ease-in-out;
        }

        &.text-white {

            &::after,
            &::before {
                background-color: var(--white);
            }
        }
    }

    .inner-right {
        .footer-col-block {
            .tf-collapse-content {
                margin-top: 20px;
            }

            .footer-heading {
                margin-bottom: 0px;
            }
        }
    }

    .inner-center {
        .footer-col-block {
            .tf-collapse-content {
                margin-bottom: 20px;
            }
        }
    }

    .footer-col-block {
        &.open {
            .footer-heading-mobile {
                &::before {
                    opacity: 0;
                }

                &::after {
                    transform: translate(0%, -50%) rotate(180deg);
                }
            }
        }

        .tf-collapse-content {
            display: none;
        }
    }
}